.container{
  display: flex;
  justify-content: flex-start;
  justify-content: center ;
  justify-content:flex-end ;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly ;
  flex-direction: row-reverse;
}
.box {
  width: 50px;
  height: 50px;
  background-color: rgb(219, 75, 75);
  margin: 1px;
}
.profile-container {
    border: 1px solid red;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 15px;
    row-gap: 10px ;
    column: gap 10px;
    align-content: center;
}

.profile-container img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.profile-container span {

      font-size: 20px;
      font-weight: 500;
}